{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        .header_text {
                font-weight: bold;
                font-size: 20px;
            }
        
            td {
                padding: 10px;
            }
        </style>


    <title>DBS startEarly</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/half-slider.css" %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img src="{% static "DBS_LOGO_WHITE1.png" %}" alt='DBS logo' width="128" height="50">
            <a class="navbar-brand" href="#">iw036</a>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url({% static "family.jpg" %}")>
                    <div class="carousel-caption d-none d-md-block">
                        <button id='btn' type="button" class="btn btn-success">
                            <a style="color:white" href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=b3cc49e3-f423-4bd3-9488-994ad327773f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2F&scope=Read&response_type=code&state=0399">House
                                Loan</a>
                        </button>
                        <button id='btn' type="button" class="btn btn-success">
                            <a style="color:white" href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=b3cc49e3-f423-4bd3-9488-994ad327773f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2F&scope=Read&response_type=code&state=0399">Child
                                Planning</a>
                        </button>
                        <button id='btn' type="button" class="btn btn-success">
                            <a style="color:white" href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=b3cc49e3-f423-4bd3-9488-994ad327773f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2F&scope=Read&response_type=code&state=0399">Joint
                                Investment</a>
                        </button>
                        <button id='btn' type="button" class="btn btn-success">
                            <a style="color:white" href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=b3cc49e3-f423-4bd3-9488-994ad327773f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2F&scope=Read&response_type=code&state=0399">Coming
                                Soon..</a>
                        </button>
                        <button id='btn' type="button" class="btn btn-success">
                            <a style="color:white" href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=b3cc49e3-f423-4bd3-9488-994ad327773f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2F&scope=Read&response_type=code&state=0399">Coming
                                Soon..</a>
                        </button>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">


        <table class="filter_placement_table">
            <tbody>
                <tr>
                    <td>
                        <h1> Filters: </h1>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
                                House
                                type
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mature HDB Flats</a></li>
                                <li><a href="#">Non-Mature HDB Flats</a></li>
                                <li><a href="#">Private - Landed</a></li>
                                <li><a href="condo">Private - Non-Landed</a></li>
                                <li><a href="home">All</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="accordion" id="accordionExample">
         
            <!-- condominiums -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                            <p id="room_header" class="header_text">Condominiums</p>
                        </button>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="content-placement">
                            <tbody>
                                <tr>
                                    <td>
                                        <!-- picture of the house -->
                                        <img src="{% static "condo.jpg" %}"alt="2 room flat" width="640" height="427">
                                    </td>
                                    <td>
                                        <table class="content-placement">
                                            <tr>
                                                <td>
                                                    <strong>Type: </strong> <span class="details">Condominiums</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Loan duration: </strong> <span class="details">40 years</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Loan plan: </strong>

                                                    <table class="loan-placement">
                                                        <tr>
                                                            <td>
                                                                Year 1
                                                            </td>
                                                            <td>
                                                                FHR8 + 1.38% p.a.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Year 2
                                                            </td>
                                                            <td>
                                                                FHR8 + 1.38% p.a.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Year 3
                                                            </td>
                                                            <td>
                                                                FHR8 + 1.38% p.a.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Year 4 and thereafter
                                                            </td>
                                                            <td>
                                                                FHR8 + 1.38% p.a.
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-success"> Loan now! </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>

    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Team B6 (Techtrek 2018)</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}""></script>

</body>

</html>
